{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Globos 2019</h1>
    <p>
      <div>Sit dolor assumenda earum ipsum sunt est. Nostrum iste autem fugit libero maxime Molestiae exercitationem atque iusto molestiae explicabo distinctio. Laudantium hic accusamus magni suscipit deleniti Sunt veniam tempore recusandae?</div>
      <div>Dolor qui rem voluptatibus quia dolorum porro commodi Aliquam officiis hic nulla delectus error nam. Voluptas exercitationem reprehenderit cupiditate eos sapiente itaque? Laboriosam voluptas atque et autem aliquid? Labore nihil</div>
      <div>Lorem consequuntur omnis aliquid dolorem delectus. Voluptate provident commodi asperiores nemo quia laborum nisi officia? Nisi vel laborum eveniet nobis quis? Quo molestias iure animi perspiciatis voluptatibus. Placeat rem ex.</div>
    </p>
  </div>
  <div class="col-4">
    <img src="/assets/imgs/me.jpg" class="img-thumbnail" alt="">
  </div>
</div>

{{> footer }}

